
<div class="contact-info">
    <h1>Contact Us!</h1>
    <h3>124 Conch Street, Bikini Bottom, Pacific Ocean</h3>
</div>

<div class="contact-info">
    <h2>Sorry! We're located in the ocean!</h2>
    <h4>Disclaimer: We are currently unable to accept any parcels or letters as we are located on the sea floor.</h4>
    <p>There are currently plans in working progress to opening a location near you!</p>
</div>

<div class="contact-info">
    <h2>Online Contact Form</h2>
    <form>
        Name:
        <input type="text" id="name" ngModel name><br>
        Email:
        <input type="email" id="email" ngModel email><br>
        <button>Submit</button>
    </form>
</div>