@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: rgb(58, 155, 240);

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.navbar {
    width: 80%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;

    a{
        color: white;
        text-decoration: none;;
    }
    a.logo {
        font-weight: bold;
    }
    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hovor {
                    background: darken($primary, 10%)
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}

.home-info {
    background-image: url("assets/banner.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
    text-align: center;
    color: white;

    .overlay {
        background-color: rgba(black, 0.3);
        
    }
}

.itemImg img {
    width: 400px;
    height: 275px;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;

    .food {
        padding: 1em;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }
}